<header style="margin-bottom: 0px;" class="">
    <div class="container">
        <div class="row">
            <div class="col-md-4"> <p routerLink="/">LOGO</p></div>
            <div class="col-md-8">
                <div class="header-ryt text-right">                    
                    <button type="button"  *ngIf="loginService.isLoggedIn()" (click)="openloginModal(content)" class="btn btn-outline-primary btn-sm">Login</button>
                    <button type="button"routerLink="/users/sign-up" *ngIf="loginService.isLoggedIn()" class="btn btn-outline-primary btn-sm">Register</button>

                    <div *ngIf="!loginService.isLoggedIn()">
                        <div class="user-image" >
                            <span *ngIf="!loginService.isLoggedIn()"> <span class="text-danger" >Welcome</span> {{userService.currentUser.user.fname}}</span>
                            <img src="assets/images/user.jpg" 
                                (click)="headerDropdown = !headerDropdown"
                            class="rounded-circle p-cursor" alt="user">
                        </div>
                        <ul *ngIf="headerDropdown" class="header-drp-dwn" >
                            <li><button routerLink="/users/dashboard" (click)="headerDropdown = !headerDropdown"
                                class="btn btn-light btn-block">Dashboard</button></li>
                            <li><button class="btn btn-light btn-block">Other</button></li>
                            <li><button (click)="headerDropdown = !headerDropdown"
                                 routerLink="/users/sign-up" (click)="loginService.logOut()"
                            class="btn btn-light btn-block">Logout</button></li>
                        </ul>
                    </div>
                    <!-- <button type="button" *ngIf="!loginService.isLoggedIn()" routerLink="/users/sign-up" (click)="loginService.logOut()" class="btn btn-outline-primary btn-sm">Logout</button> -->
                </div>
            </div>
        </div>
    </div>
</header>

<!-- ---------- NAV BAR ---------- -->

  

<!-- ---------- NAV BAR ---------- -->

<div *ngIf="HeaderMessage.message != ''" class="container header-message">
    <div class="alert alert-{{HeaderMessage.type}}" >{{HeaderMessage.message}}
        <button type="button" class="close" (click)="closeHeaderMessage()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<!-- -------------- LOGIN MODAL ----------- -->


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Sign In</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

        <div *ngIf="loginError.status" class="alert alert-{{ loginError.type }}">
            {{ loginError.message }}
        </div>

        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)"  >
            <div class="form-group">
                <label for="">Email / Phone Number</label>
                <input ngModel name="emailPhno" type="text" #emailPhno="ngModel" (change)="log(emailPhno)"  class="form-control" required >
                <small class="text-danger"
                    *ngIf="emailPhno.touched && emailPhno.invalid"  >
                This field is required</small>
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input ngModel type="password" name="loginPassword" #loginPassword="ngModel" (change)="log(loginPassword)" class="form-control" required >
                <small class="text-danger"
                    *ngIf="loginPassword.touched && loginPassword.invalid"  >
                This field is required</small>
            </div>
            <div class="form-group">
                <button class="btn btn-success form-control" [disabled]="!loginForm.valid" >Login</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
  
  <!-- -------------- LOGIN MODAL ----------- -->
