<header style="margin-bottom: 0px;" class="">
    <div class="container">
        <div class="row">
            <div class="col-md-4"> <p routerLink="/">LOGO</p></div>
            <div class="col-md-8">
                <div class="header-ryt text-right">
                    <button type="button" (click)="openloginModal(content)" class="btn btn-outline-primary btn-sm">Login</button>
                    <button type="button" routerLink="/users/sign-up" class="btn btn-outline-primary btn-sm">Register</button>
                </div>
                <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
                    <a class="navbar-brand" routerLink=''>Logo</a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Link</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav text-right">
                        <li class="nav-item">
                            <a class="nav-link" (click)="openloginModal(content)">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/users/sign-up">Register</a>
                        </li>
                    </ul>
                </nav> -->
            </div>
        </div>
    </div>
</header>

<!-- ---------- NAV BAR ---------- -->

  

<!-- ---------- NAV BAR ---------- -->

<div *ngIf="HeaderMessage.message != ''" class="container header-message">
    <div class="alert alert-{{HeaderMessage.type}}" >{{HeaderMessage.message}}
        <button type="button" class="close" (click)="closeHeaderMessage()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<!-- -------------- LOGIN MODAL ----------- -->


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Sign In</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

        <div *ngIf="loginError.status" class="alert alert-{{ loginError.type }}">
            {{ loginError.message }}
        </div>

        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)"  >
            <div class="form-group">
                <label for="">Email / Phone Number</label>
                <input ngModel name="emailPhno" type="text" #emailPhno="ngModel" (change)="log(emailPhno)"  class="form-control" required >
                <small class="text-danger"
                    *ngIf="emailPhno.touched && emailPhno.invalid"  >
                This field is required</small>
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input ngModel type="password" name="loginPassword" #loginPassword="ngModel" (change)="log(loginPassword)" class="form-control" required >
                <small class="text-danger"
                    *ngIf="loginPassword.touched && loginPassword.invalid"  >
                This field is required</small>
            </div>
            <div class="form-group">
                <button class="btn btn-success form-control" [disabled]="!loginForm.valid" >Login</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
  
  <!-- -------------- LOGIN MODAL ----------- -->