// ------------------ NAVBAR -------------------
.navbar {
  padding: 0px !important;
}
.navbar-dash a {
  color: white;
  font-size: 14px;
  padding: 0.8rem 1rem;
}
.navbar-dash a:hover {
  color: white;
}
.nav-link.active {
  background-color: #f9797d;
}
.nav-item {
}
// ------------------ NAVBAR -------------------

// ===================== FOOTER ===================
footer {
  padding: 20px 0px;
}
footer p,
footer p a {
  color: white;
  font-weight: bold;
  margin-bottom: 0px;
}
// ===================== FOOTER ===================
