/* // ------------------ NAVBAR ------------------- */
.navbar {
  padding: 0px !important;
}
.navbar-dash a {
  color: white;
  font-size: 14px;
  padding: 0.8rem 1rem;
}
.navbar-dash a:hover {
  color: white;
}
.nav-link.active {
  background-color: #f9797d;
}
.nav-dash {
  position: sticky !important;
  top: 0px;
  z-index: 1;
}
/* // ------------------ NAVBAR ------------------- */

.user-image .dropdown-item {
  padding: 0px;
}

/* LOADER */

.load-bar {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #fdba2c;
  z-index: 1;
  position: sticky;
  top: 47px;
}
.load-bar-top0 {
  top: 0px;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
  from {
    left: 50%;
    width: 0;
    z-index: 100;
  }
  33.3333% {
    left: 0;
    width: 100%;
    z-index: 10;
  }
  to {
    left: 0;
    width: 100%;
  }
}

/* LOADER */

/* // ===================== FOOTER =================== */
footer {
  padding: 20px 0px;
}
footer p,
footer p a {
  color: white;
  font-weight: bold;
  margin-bottom: 0px;
}
/* // ===================== FOOTER =================== */
