<div class="container mr-t-b-60">
    <h3>Fill the following details to register as a new user-</h3>
    <form class="" [formGroup]="registrationForm" (ngSubmit)="registration(registrationForm)" (change)="log(registrationForm)" >
        <div *ngIf="mainErrorMessage">
            <p class="alert alert-{{ mainErrorMessage.type }}">{{ mainErrorMessage.message }}</p>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" [appInputFormat]="'singleWordFiltercapitalize'" formControlName="fname" class="form-control"  placeholder="Enter First Name" required>
                <small class="text-danger"
             *ngIf="fname.touched && fname.invalid"  >
            This field is required</small>
            </div>
            <div class="form-group col-md-6">
                <input type="text" [appInputFormat]="'singleWordFiltercapitalize'" formControlName="lName" class="form-control" placeholder="Enter Last Name" required>
                <!-- ngModel name="lName" #lName="ngModel" -->
                <small class="text-danger"
             *ngIf="lName.touched && lName.invalid"  >
            This field is required</small>
            </div>
            <!-- (change)="log(name)" -->
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="input-with-icon">                    
                    <input type="email" formControlName="email" class="form-control" placeholder="Enter Email Address" required >
                    <span *ngIf="email.pending" class="input-icon"><i class="fa fa-spinner fa-spin fa-2x fa-fw" ></i></span>
                </div>
                <!-- ngModel name="email" fa-spin  #email="ngModel" (change)="log(email)"   -->
                <small class="text-danger"
                    *ngIf="email.touched && email.invalid"  >
                    <small *ngIf="email.errors.required" >This field is required</small>
                    <small *ngIf="email.errors.email" >Please enter a valid email address</small>
                    <small *ngIf="email.errors.checkEmailAvailability" >This email address is already taken</small>
                </small>
            </div>
            <div class="form-group col-md-6">
                <input formControlName="phoneNo" type="number" (change)="log(phoneNo)"  class="form-control remove-numbr-icn" maxlength="10" placeholder="Enter Phone Number" required >
                <!-- ngModel name="phoneNo" type="number" #phoneNo="ngModel" -->
                <small class="text-danger"
                    *ngIf="phoneNo.touched && phoneNo.invalid"  >
                This field is required</small>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input  type="password" name="registrationPassword" formControlName="password"   class="form-control" placeholder="Enter Password" required > 
                <!-- ngModel #registrationPassword="ngModel" (change)="log(registrationPassword)" -->
                <small class="text-danger"
                    *ngIf="registrationPassword.touched && registrationPassword.invalid"  >
                This field is required</small>
            </div>
            <div class="form-group col-md-6">
                <input  type="password" name="registrationcPassword" formControlName="cPassword"  placeholder="Re-enter Password" class="form-control" required >
                <!-- ngModel #registrationcPassword="ngModel" (change)="log(registrationcPassword)"  -->
                <small class="text-danger"
                    *ngIf="registrationcPassword.touched && registrationcPassword.invalid"  >
                This field is required</small>

                <span class="text-danger"
                    *ngIf="registrationForm.errors && registrationcPassword.touched">    
                    <small *ngIf="registrationForm.errors.passwordMatch" > Password do not match</small>
                    <!-- registrationForm.status === 'INVALID' -->
                </span>                
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                    <!-- #cityList (change)="getCityList(cityList.value)" -->
                <select name="state" formControlName="state" (change)="getCityList(state.value)" class="custom-select">
                    <option value="">Select State</option>
                    <option *ngFor="let state of stateList" value="{{state._id}}">{{state.name}}</option>
                </select>
                <small class="text-danger"
                    *ngIf="state.touched && state.invalid"  >
                This field is required</small>
            </div>
            <div class="form-group col-md-4">
                <select name="city" formControlName="city" class="custom-select">
                    <option value="">Select City</option>
                    <option *ngFor="let city of cityList" value="{{city._id}}">{{city.name}}</option>
                </select>
                <small class="text-danger"
                    *ngIf="city.touched && city.invalid"  >
                This field is required</small>
            </div>
            <div class="form-group col-md-4">
                <input formControlName="pincode" type="text" name="pincode" placeholder="Enter PIN Code" class="form-control">
                <small class="text-danger"
                    *ngIf="pincode.touched && pincode.invalid"  >
                This field is required</small>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <strong>I am </strong> &nbsp;
                <label><input type="radio" formControlName="user_type" value="1" (change)="log(user_type)" name="user_type" checked> Buyer/Owner &nbsp; </label>
                <label><input type="radio" formControlName="user_type" value="2" (change)="log(user_type)" name="user_type"> Agent &nbsp; </label>
                <label><input type="radio" formControlName="user_type" value="3" (change)="log(user_type)" name="user_type"> Builder &nbsp; </label>
                <small class="text-danger"
                    *ngIf="user_type.touched && user_type.invalid"  >
                This field is required</small>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">                
                <button class="btn btn-success form-control" [disabled]="!registrationForm.valid" >Sign up</button>
            </div>
        </div>
        <!-- <p>{{ registrationForm.value | json }}</p>
        <p>{{ registrationForm.status | json }}</p>
        <p>{{ registrationForm.errors | json }}</p> -->
    </form>
</div>