<div class="container find-properties">
  <div class="row">
    <div class="col-md-4">
      <div class="border-main border-box-manage">
        <div class="block-margin-botm">
          <h5 >Type:</h5>
          <hr class="hr">
          <label><input type="checkbox"> Sell</label> &nbsp;
          <label><input type="checkbox"> Rent</label>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="border-main border-box-manage">

      </div>
    </div>
  </div>
</div>