<ngb-carousel *ngIf="images">
    <ng-template *ngFor="let item of [0, 1, 2]" ngbSlide>
      <img [src]="images[item]" class="carousal-img" width="100%" alt="Random first slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
</ngb-carousel>

<div class="container">
  <h4 class="text-danger">Search Property:</h4>
  <hr class="hr">



</div>

<div class="container">
  <h4 class="text-danger">Recent Postings:</h4>
  <hr class="hr">
  
  <div ngbSlide >
    <app-propertylist [blockView]="true" [blockSize]="4" [queryParams]="queryParams" ></app-propertylist>
  </div>
</div>