<div class="container card">
  <div class="row card-body">
    <div class="col-md-2">
      price
    </div>
    <div class="col-md-10">
      <h5>{{propertyDetail?.title}}</h5>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</div>