<div class="container">
  <div class="row mar-btm-25">
    <div class="col-md-2">
      price
    </div>
    <div class="col-md-10">
      <h5>{{propertyDetail?.title}}</h5>
      <p>dnfjkhsdufdsjfsdjfg</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-5">
      <img src="" alt="">
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-4">
          <div class="p_title"></div>
          <div class="p_value"></div>
        </div>
        <div class="col-md-4">
          <div class="p_title"></div>
          <div class="p_value"></div>
        </div>
        <div class="col-md-4">
          <div class="p_title"></div>
          <div class="p_value"></div>
        </div>
        <div class="col-md-4">
          <div class="p_title"></div>
          <div class="p_value"></div>
        </div>
        <div class="col-md-4">
          <div class="p_title"></div>
          <div class="p_value"></div>
        </div>
        <div class="col-md-4">
          <div class="p_title"></div>
          <div class="p_value"></div>
        </div>
        <div class="col-md-4">
          <div class="p_title"></div>
          <div class="p_value"></div>
        </div>
        <div class="col-md-4">
          <div class="p_title"></div>
          <div class="p_value"></div>
        </div>
        <div class="col-md-4">
          <div class="p_title"></div>
          <div class="p_value"></div>
        </div>
      </div>
    </div>
  </div>
</div>