<header style="margin-bottom: 0px;" [class.loggedIn]="isUserLoggedIn">
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-sm-4">
				<div class="header-ryt text-right">
					<div *ngIf="isUserLoggedIn">
						<div class="user-image">
							<span><span class="text-danger">Welcome</span> {{userService.currentUser.user.fname}} </span>
							<img [matMenuTriggerFor]="headerRytmenu" src="assets/images/user.jpg"
								(click)="headerDropdown = !headerDropdown" class="rounded-circle p-cursor" alt="user">
						</div>
						<mat-menu #headerRytmenu="matMenu" xPosition="before">
							<button routerLink="/users/dashboard" mat-menu-item>Dashboard</button>
							<button *ngIf="userService.currentUser?.user.isAdmin" routerLink="/admin/dashboard"
								mat-menu-item>Admin</button>
							<button (click)="handleLogout()" mat-menu-item>Logout</button>
						</mat-menu>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- ---------- NAV BAR ---------- -->

<nav id="navbar" class="navbar navbar-expand-md bg-danger navbar-dash nav-dash">
	<div class="col-6 col-sm-4 offset-sm-1">
		<button class="navbar-toggler" (click)="toggleMenuItems = !toggleMenuItems" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<!-- <span class="navbar-toggler-icon"></span> -->
			<i class="fa fa-bars" aria-hidden="true"></i>
		</button>
		<a class="nav-link" routerLink="/"><img id="logoImg" src="assets/images/Logo_SA.png" class="p-cursor logoImg"
				width="50px" alt="LOGO"></a>
	</div>
	<div [class.col-12]="isUserLoggedIn" class="col-6 col-sm-7">
		<div class="text-right">
			<button type="button" style="margin-right: 5px;" *ngIf="!isUserLoggedIn" (click)="openloginModal()"
				class="btn btn-outline-light btn-sm">Login </button>
			<button type="button" routerLink="/users/sign-up" *ngIf="!isUserLoggedIn"
				class="btn btn-outline-light btn-sm">Register</button>
		</div>
		<div class="collapse navbar-collapse" [class.show-collapsed-menu]="toggleMenuItems" id="collapsibleNavbar">
			<div *ngIf="isUserLoggedIn" class="container">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" routerLink="/"><i class="fa fa-home" aria-hidden="true"></i> | </a>
					</li>
					<li *ngFor="let nav of navItems;" routerLink="{{nav.path}}" routerLinkActive="active"
						class="nav-item p-cursor">
						<a class="nav-link">{{ nav.name }}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>

<!-- ---------- NAV BAR ---------- -->

<!-- ------------------ PAGE LOADER ---------------- -->
<app-small-components [componentName]="'barLoader'" [loaderActive]="pageloaderStatus"></app-small-components>
<!-- ------------------ PAGE LOADER ---------------- -->

<div *ngIf="HeaderMessage.message" class="container header-message">
	<div class="alert alert-{{HeaderMessage.type}}">{{HeaderMessage.message}}
		<button type="button" class="close" (click)="closeHeaderMessage()" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>

<!-- <div class="fullPageLoaderMain">
    <div class="fullPageLoader">
        <mat-spinner [diameter]="150" ></mat-spinner>
    </div>
</div> -->