.header-message {
    margin-top: 15px;
}
header {
    padding-top: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    -webkit-box-shadow: 0px 0px 7px 0px #aaa;
    box-shadow: 0px 0px 9px 0px #888;
}
.header-ryt{

}
.user-image img {
    width: 50px;
    border: 1px solid #dc3544;
    padding: 2px;
}
ul.header-drp-dwn {
    position: absolute;
    right: -10px;
    z-index: 100;
    list-style-type: none;
    background-color: white;
    border: 1px solid #eee;
    top: 54px;
}
ul.header-drp-dwn li button {
    padding: 10px 50px;
}


/* navbar */
.dash-head{
    padding-bottom: 30px;
}
.show-collapsed-menu{
    display: block;
}
.nav-item{
    padding: 8px 0px;
}
.nav-item.active{
    background-color: #f9797d;
}
.nav-dash{
    top: 0px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 99;
    padding: 0px 16px;
}
.navbar-dash .nav-link{
    color: white;
    font-size: 14px;
    padding: 5px .5rem;
}

/* fullPageLoader */
.fullPageLoaderMain{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.fullPageLoader{
    position: fixed;
    top: 38%;
    bottom: 50%;
    left: 44%;
    right: 50%;
    z-index: 1;
    
}