/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

ul{
    padding-left: 0px;
}
.form-control.ng-invalid.ng-touched{
    border-color: #f5c6cb;
}
.mr-t-b-40{
    margin-bottom: 40px;
    margin-top: 40px;
}
.mr-t-b-60{
    margin-bottom: 60px;
    margin-top: 60px;
}

.input-with-icon{
    position: relative;
}
.input-icon{
    position: absolute;
    top: 4px;
    right: 2px;
}
.remove-numbr-icn::-webkit-inner-spin-button, .remove-numbr-icn::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.p-cursor{
    cursor: pointer;
}

.main-section{
    margin-top: 60px;
    margin-bottom: 60px;
}
.border-main{
    border: 2px solid #efeaea;
}
.border-box-manage{
    padding: 30px 25px;
}

/* property */
.property-box{
    margin-bottom: 25px;
}
.property-box .propertyLocation{
    list-style-type: none;
}
.property-box .propertyLocation li{
    display: inline-block;
}